html {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  position: relative;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-family: "Sigmar One", Georgia;
  text-align: left;
  margin: .2em;
}

h2 {
  text-align: left;
  font-family: "Sigmar One", Georgia;
  color: #fff;
}
main {
  background-image: url("http://via.placeholder.com/600x300");
  background-size: cover;
}

p {
  text-align: left;
}

ul {
  list-style-type: none;
  font-family: georgia;
  margin: .3em;
  padding: 0;
}
ol {
  list-style-type: circle;
  font-family: georgia;
  margin: .3em;
  padding: 0;
}
.navigation {
  margin-top: 2em;
}
.nav-item a{
  color: #fff;
  background-color: #8d0c28;
  text-decoration: none;
  padding: .2em .5em .3em;
  text-align: center;
  border-radius: 4px;
}

.nav-item a:hover {
  background-color: #fbd0d9;
  color: #222;
}

footer, header {
  background-color: #864313;
}
 header {
   padding: 1.5em .1em;
 }
nav li {
  display: inline-block;
  border-radius: 4px;
}

nav {
  padding-bottom: .75em;
  text-align: left;
}

footer p {
  text-align: center;
}

footer {
  display: block;
  width: 100%;
  padding: 1em 0;
  bottom: 0;
}

.img {
  display: block;
}

img {
  display: block;
  width: 100%;
}

.image-flex {
  width: 100%;
  display: block;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.nav .current {
  background-color: #2f2d13;
}
.order-svg {
  height: 200px;
  width: 200px;
}
.image-top {
  margin: 2em auto;
  width: 25em;
  height: auto;
}
.contact {
  text-align: center;
  color: #fff;
}
.container {
  position: relative;
  margin: 5em auto;
  width: 40%;
}
.menu-img {
  position: relative;
  height: 20em;
}
.text-box {
  padding: 2em;
  position: absolute;
  width: 50%;
  height: 5em;
  padding: 1em;
  right: 1em;
  bottom: 1em;
  background-color: #222;
  color:#fff;
}
